.idea/
.vscode/
*.swp
*.swo
*~

vendor/

storage/cache/*
!storage/cache/.gitkeep
storage/logs/*
!storage/logs/.gitkeep
storage/sessions/*
!storage/sessions/.gitkeep
storage/index/*
!storage/index/.gitkeep
storage/modules.json
storage/modules-compiled.json
storage/modules-autoload.php
storage/database.sqlite

.phpunit.cache/
.php-cs-fixer.cache
tests/fixtures/content/pages/*.md
tests/fixtures/storage/cache/*

user/*
!user/.gitkeep

compose.yaml
Containerfile.test
.containerignore